body {
    text-align: center;    
}
.jumbotron {
    background-color: black;
    color : white;
    
}
.imgDra {
	  position:absolute;
	  height: 100px;
	  width: 200px;
        
        border: solid black 5px;
        border-radius: 20px;

}
.divIm
{ position: relative;
	width:1024px;

}

.molodec {
height: 300px;
width:500px;
}

.counterBox{
	background-color: blue;
}